@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,400;1,700&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+3:wght@300;400;500;700;800&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9; 
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}